*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dateBd {
  color: rgb(0, 255, 255);
  background-color: rgb(66, 66, 66);
  padding: 2px 5px 5px;
  margin: auto 10px;
  font-weight: 900;
  font-size: 24px;
}
#result p {
  font-size: 30px;
}
/* input {
  padding-left: 10px;
  border: rgb(70, 144, 212) 2px solid;
}
input:active,
input:focus,
input:hover {
  border: rgb(70, 212, 181) 2px solid;
} */
